body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    padding: 50px;
    width: 100%;
    justify-content: center;
    background-color: darkslategray;
}

.container > section {
    /* border: 1px solid blue; */
    padding: 50px;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    /* background-color: beige; */
}

#gameBoard > div {
    height: 10px;
    width: 10px;
    /* border: 1px solid pink; */
    box-sizing:border-box;
}


.topButtons {
    width: 125px;
    /* outline: none; */
}